*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

/*UTILITY*/

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.debug{
    border: 5px solid rgb(255, 0, 0);
}

.text-centering{
    text-align: center;
}

.clearfix{
    content:"";
    display: table;
    clear: both;
}
/*UTILITY*/

p{
    margin-bottom: 50px;
}

/*TITLE*/
header{
    padding: 30px 0 50px;
    color: #ff3d81;
    font-size: 1em;
}
/*TITLE*/

/*CARDS*/

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.box{
    background-color: black;
    /*float: left;*/
    width: calc(100% / 3 - 40px);
    margin: 20px;
    box-shadow: 5px 5px 15px grey;
}
.img-size{
    width: 25%;
    
}

.dati{
   color: white; 
   display: inline-block;
   padding: 14px ;
   
}

.dati address{
    color: #6fe5ff;
}

address:hover{
    color: red;
}


/*CARDS*/

